{% extends 'base.html' %}

{% block title %}FAUXSNOW.ORG{% endblock %}

{% block content %}

<div class="hero-pane">
    <div class="hero-box">
        <div class="hero-main-title">Snowmaking <br> Forecasts</div>
        <div class="hero-subtext">Find the best man-made groomers in the US Southeast and Midwest.</div>
    </div>
</div>

<div class="info-pane">

    <div class="about-box">
        <div class="con-box-body">

            <p class="info-text">Ski resorts in the US Southeast and Midwest get a modest amount of snowfall, even
                in good years. Climate change could have an outsized impact on these resorts and make natural snow
                days even more infrequent.</p>
            <div class="info-img-box">
                <img class="info-img" src="{{ url_for('static', filename='images/us-average-annual-snowfall.jpg') }}">
                <img class="info-img" src="{{ url_for('static', filename='images/average-snowfall-map-key.png') }}">
            </div>
            <p class="info-text">These resorts rely mainly on artificial snow, but most weather forecasts don't
                predict artificial snowmaking conditions, only natural snowfall. fauxsnow.org
                combines both natural and artificial snow forecasts to help you find the best conditions.</p>

        </div>
    </div>
</div>

<div class="resorts-pane">
    <div class="resorts-box">
        <div class="con-box-body">
            <div class="resorts-title">FAUXSNOW Resorts</div>
            <div class="info-resort-list">
                <div class="info-resort-column">
                    <p><strong>Indiana</strong>
                    <ul>
                        <li>Perfect North Slopes</li>
                        <li>Paoli Peaks</li>
                    </ul>
                    </p>
                    <p><strong>Tennessee</strong>
                    <ul>
                        <li>Ober Gatlinburg</li>
                    </ul>
                    </p>
                    <p><strong>West Virginia</strong>
                    <ul>
                        <li>Winterplace</li>
                        <li>Snowshoe Mountain</li>
                        <li>Canaan Valley</li>
                        <li>Timberline</li>
                    </ul>
                    </p>
                    <p><strong>North Carolina</strong>
                    <ul>
                        <li>Cataloochee</li>
                        <li>Beech Mountain</li>
                        <li>Sugar Mountain</li>
                        <li>Appalachian Ski Mountain</li>
                        <li>Sapphire Valley</li>
                    </ul>
                    </p>
                </div>
                <div class="info-resort-column">
                    <p><strong>Virginia</strong>
                    <ul>
                        <li>Wintergreen</li>
                        <li>Bryce</li>
                        <li>Massanutten</li>
                    </ul>
                    </p>
                    <p><strong>Maryland</strong>
                    <ul>
                        <li>Wisp</li>
                    </ul>
                    </p>
                    <p><strong>Missouri</strong>
                    <ul>
                        <li>Hidden Valley (MO)</li>
                        <li>Snow Creek (MO)</li>
                    </ul>
                    </p>
                    <p><strong>Ohio</strong>
                    <ul>
                        <li>Snow Trails</li>
                        <li>Mad River Mountain</li>
                        <li>Boston Mills Brandywine</li>
                        <li>Alpine Valley (OH)</li>
                    </ul>
                    </p>
                    <p><strong>Illinois</strong>
                    <ul>
                        <li>Snow Star</li>
                        <li>Chestnut Mountain Resort</li>
                    </ul>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="about-pane">
<div class="about-box">
    <div class="aboutbox-body">
        <p class="info-text">Good snow-making conditions require wet-bulb temperatures of
            20(F) or below. Wet-bulb temperature is a function of Temperature and Relative Humidity.</p>
        <table class="detail-table">
            <thead>
                <tr>
                    <th colspan="11">Wet Bulb Temperature Chart</th>
                </tr>
                <tr>
                    <th colspan="11" style="text-align: center;">Relative Humidity</th>
                </tr>
                <tr>
                    <th></th>
                    <th>10%</th>
                    <th>20%</th>
                    <th>30%</th>
                    <th>40%</th>
                    <th>50%</th>
                    <th>60%</th>
                    <th>70%</th>
                    <th>80%</th>
                    <th>90%</th>
                    <th>100%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="info-table-label"><strong>20 (F)</strong></td>
                    <td class="info-value-good"><strong>14</strong></td>
                    <td class="info-value-good"><strong>14</strong></td>
                    <td class="info-value-good"><strong>15</strong></td>
                    <td class="info-value-good"><strong>16</strong></td>
                    <td class="info-value-good"><strong>16</strong></td>
                    <td class="info-value-good"><strong>17</strong></td>
                    <td class="info-value-good"><strong>18</strong></td>
                    <td class="info-value-good"><strong>19</strong></td>
                    <td class="info-value-good"><strong>19</strong></td>
                    <td class="info-value-good"><strong>20</strong></td>
                </tr>
                <tr>
                    <td class="info-table-label"><strong>22 (F)</strong></td>
                    <td class="info-value-good"><strong>15</strong></td>
                    <td class="info-value-good"><strong>15</strong></td>
                    <td class="info-value-good"><strong>17</strong></td>
                    <td class="info-value-good"><strong>17</strong></td>
                    <td class="info-value-good"><strong>18</strong></td>
                    <td class="info-value-good"><strong>19</strong></td>
                    <td class="info-value-good"><strong>20</strong></td>
                    <td class="info-value-bad">21</td>
                    <td class="info-value-bad">21</td>
                    <td class="info-value-bad">22</td>
                </tr>
                <tr>
                    <td class="info-table-label"><strong>24 (F)</strong></td>
                    <td class="info-value-good"><strong>17</strong></td>
                    <td class="info-value-good"><strong>18</strong></td>
                    <td class="info-value-good"><strong>18</strong></td>
                    <td class="info-value-good"><strong>19</strong></td>
                    <td class="info-value-good"><strong>20</strong></td>
                    <td class="info-value-bad">21</td>
                    <td class="info-value-bad">22</td>
                    <td class="info-value-bad">22</td>
                    <td class="info-value-bad">23</td>
                    <td class="info-value-bad">24</td>
                </tr>
                <tr>
                    <td class="info-table-label"><strong>26 (F)</strong></td>
                    <td class="info-value-good"><strong>18</strong></td>
                    <td class="info-value-good"><strong>19</strong></td>
                    <td class="info-value-good"><strong>20</strong></td>
                    <td class="info-value-bad">21</td>
                    <td class="info-value-bad">22</td>
                    <td class="info-value-bad">23</td>
                    <td class="info-value-bad">23</td>
                    <td class="info-value-bad">24</td>
                    <td class="info-value-bad">25</td>
                    <td class="info-value-bad">26</td>
                </tr>
                <tr>
                    <td class="info-table-label"><strong>28 (F)</strong></td>
                    <td class="info-value-good"><strong>20</strong></td>
                    <td class="info-value-bad">21</td>
                    <td class="info-value-bad">22</td>
                    <td class="info-value-bad">23</td>
                    <td class="info-value-bad">23</td>
                    <td class="info-value-bad">24</td>
                    <td class="info-value-bad">25</td>
                    <td class="info-value-bad">26</td>
                    <td class="info-value-bad">27</td>
                    <td class="info-value-bad">28</td>
                </tr>
                <tr>
                    <td class="info-table-label"><strong>30 (F)</strong></td>
                    <td class="info-value-bad">21</td>
                    <td class="info-value-bad">22</td>
                    <td class="info-value-bad">23</td>
                    <td class="info-value-bad">24</td>
                    <td class="info-value-bad">25</td>
                    <td class="info-value-bad">26</td>
                    <td class="info-value-bad">27</td>
                    <td class="info-value-bad">28</td>
                    <td class="info-value-bad">29</td>
                    <td class="info-value-bad">30</td>
                </tr>
            </tbody>
        </table>

        
    </div>
    <p class="info-text">Further Reading</p>
    <ul>
        <li class="info-text"><a class="info-text" target="_blank" href="https://opensnow.com/news/post/snowmaking-explained">Snowmakeing Explained</a></li>
        <li class="info-text"><a class="info-text" target="_blank" href="https://www.washingtonpost.com/weather/2022/01/23/snowmaking-ski-resort-artificial-climate/">Snowmaking at ski areas is critical, and here's why</a></li>
        <li class="info-text"><a class="info-text" target="_blank" href="https://www.npr.org/2022/04/14/1092811862/can-skiing-survive-climate-change#:~:text=Kirk%20Siegler%2FNPR-,Climate%20change%20poses%20an%20existential%20threat%20to%20the%20ski%20industry,season%20for%20snowboarders%20and%20skiiers.">Can Skiing Survive Climate Change?</a></li>
    </ul>
</div>
</div>
<div class="alert-pane">
    <div class="alert"><strong>Take Action!</strong> <a class="alert-link" href="https://protectourwinters.org/">Protect
            Our Winters</a>
        <p>POW helps passionate outdoor people protect the places we live and lifestyles we love from climate change.
            POW is a community of athletes, scientists, creatives, and business leaders advancing non-partisan policies
            that protects our world today and for future generations.</p>
    </div>
    <a class="action-button" href="https://protectourwinters.org/" target="_blank">Learn More</a>
</div>

<div class="info-pane">

    <div class="about-box">
        <div class="credits-title">
            Credits</div>   
            <p>FAUXSNOW relies on the following free and open source resources.</p>
            <table class="credits-table">
                <tr>
                    <td class="credits-table-hdr">Resource</td>
                    <td class="credits-table-hdr">Source</td>
                    <td class="credits-table-hdr">License</td>
                </tr>
                <tr>
                    <td>Weather Forecasts</td>
                    <td><a href="https://open-meteo.com/en">Open-Meteo</a></td>
                    <td><a href="https://creativecommons.org/licenses/by/4.0/">Attribution 4.0 International (CC BY 4.0)</a></td>
                </tr>
                <tr>
                    <td>Snow making photo</td>
                    <td><a href="https://unsplash.com/@adoucett?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Aaron Doucett</a> on <a href="https://unsplash.com/s/photos/snowmaking?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></td>
                    <td><a href="https://unsplash.com/license">Unsplash License</a></td>
                </tr>
                <tr>
                    <td>Annual US Snowfall Map</td>
                    <td><a href="https://www.ncei.noaa.gov/access/us-climate-normals/">NOAA Climate Normals</a></td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Logo Icon</td>
                    <td>Bootstrap</td>
                    <td><a href="https://github.com/twbs/icons/blob/main/LICENSE.md">MIT</a></td>
                </tr>
            </table>
            </div>
            </div>

{% endblock %}