html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

a {
    text-decoration: none;
    color: currentColor;
}

p {
    padding: 0px;
    margin: 0px;
}

.layout {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #008cba;
    padding: 8px;
    justify-content: center;
}

.logo {
    color: #f9faf8;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header-link {
    color: #e5e7eb;
    font-size: large ;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    padding-right: 5px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 20px;
    margin-top: 40px;
    color: #f9faf8;
}

.copyright {
    font-size: small;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-header {
    display: flex;
    justify-content: space-between;
}

.content-header-buttons {
    display: flex;
    align-items: center;
}

.content-header-button-active {
    background-color: #5ac1de;
    color: white;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    height: fit-content;
    border: lightgray 1px solid;
    border-radius: 20px;

}

.content-header-button-inactive {
    background-color: #eeeeee;
    color: #888;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    height: fit-content;
    border: lightgray 1px solid;
    border-radius: 20px;

}

.content-title {
    font-size: x-large;
    font-weight: bold;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.legend-box {
    background-color: #eeeeee;
    border: 0px;
    padding: 5px 20px 5px 20px;
    margin: 5px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-icon {
    vertical-align: middle;
}

.content-box {
    margin: 10px 5px 10px 5px;
    border: lightgray 1px solid;
    border-radius: 8px;
    padding: 15px;
}

.box-header-text {
    display: flex;
    flex-direction: column;
}

.box-header-logo {
    width: 100px;
    margin-right: 10px;
}

.box-header-left {
    display: flex;
}

.box-header {
    display: flex;
    justify-content: space-between;
}

.box-title {
    font-size: larger;
    display: flex;
    justify-content: space-between;
}

.box-subtitle {
    font-size: smaller;
    color: darkgray;
}

.box-body {
    display: flex;
    justify-content: space-between;
}

.box-body-left {
    height: 150px;
    width: 200px;
    background-color: #eeeeee;
    margin: 2px;
}

.box-body-right {
    background-color: #eeeeee;
    flex: 1;
    margin: 2px;
}

@media screen and (max-width: 920px) {
    .header-box, .content-box, .content-title, .content-header, .legend-box {
        width: 90%;
    }
}

@media screen and (min-width: 920px) {
    .header-box, .content-box, .content-title, .content-header, .legend-box {
        width: 880px;
    }
}